@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face{
    font-family: 'Roya';
    src: url('../fonts/BRoya.woff') format('woff'),
    url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BRoya.ttf') format('truetype');
}
@font-face{
    font-family: 'Mitra';
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BMitra.woff') format('woff'),
    url('../fonts/BMitra.ttf') format('truetype');
}
@font-face{
    font-family: 'Davat';
    src: url('../fonts/BDavat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BDavat.woff') format('woff'),
    url('../fonts/BDavat.ttf') format('truetype');
}
body{
    background-color: #80502c;
    text-align: center;
    margin: -1px;
}
h1{
    color: #ffffff;
    font-family:'Mitra', sans-serif;
    font-size: 100px;
    position: static;
    padding-left: 30%;
    margin-top: 100px;
}

div.footer{
    width: 100%;
    position: fixed;
    color: #ffffff;
    margin-top: 25%;
}
div.menu{
    background-color: black;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    position: fixed;
    margin: 0px;
    padding-right: 0px;
    text-align: right;
}

span.menu{
    color: #ffffff;
    line-height: 50px;
    margin-right: 3%;
    cursor: hand;
}
span.menu:hover{
    color: sandybrown;
}
div.header{
    padding: 5%;
}
div.logo{
    background: url('../img/rishe-logo.png');
    width: 300px;
    height: 250px;
    margin: auto;
    background-size: cover;
    background-position: 0px -10px;
    position: static;
    opacity: 1;
}

div.container{
    margin: auto;
    margin-top: 5%;
    z-index: -1;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
span.kw{
    font-size: 20px;
}
span.kw:hover{
    color: #bdcfff;
}
div.list{
    text-align: right;
    padding: 20px;
    padding-right: 150px;
    cursor: hand;
    width: auto;
    margin-top: 150px;
}
li{
    color: #fcfcfc;
    font-size: 30px;
    list-style: none;
    cursor: hand;
}
li:hover{
    color: #ffffff;
    font-size: 31px;
    list-style: square;
}

input.register{
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: #404040;
    width: 100%;
}

form.addemail{
    color: white;
    font-size: 16px;
    direction: rtl;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}