@font-face {
    font-family: 'BRoya';
    src: url('../fonts/BRoya.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'BTitrTGEBold';
    src: url('../fonts/BTitrTGEBold.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/BTitrTGEBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BTitrTGEBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

p , span{
    font-family: BRoya;
}

#mainWrapper {
    width: 100% ;
}
#header {
    text-align: center;
    position: absolute;
    width: 95%;
    height: 50px;
    border: 5px solid #39383A;
    left: 2.5%;
    margin: auto;
    top: 5px;
    background-color: #39383A;
    color: #ffffff;
    z-index: 100 ;

}

#header span {
    color: rgb(242, 241, 237);
    position: absolute;
    left : 50% ;
    transform : translateX(-50%) ;
}

#header span::before{
    position: absolute;
    top : -0px ; left: 0 ;
    overflow: hidden;
    max-width: 0 ;
    -webkit-transition: max-width .5s;
    -moz-transition: max-width .5s;
    -ms-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s;
    content: attr(data-hover);
    color: #ED472D;
}


#header span:hover::before{
    max-width: 100% ;
}

#drawSpace {
    position: absolute;
    left: 2.5% ;
    top: 60px;
    /*box-shadow: 0 0 5px black ;*/
}

/* ------------------------------ MOBILE ---------------------------- */
#mobileText {
    text-align: center;
    position: absolute;
    z-index: 100 ;
    top: 70px ;
    height: 270px ;
    width: 300px ;
}

#mobileText p {
    font-size: 1rem ;
}

#mobile {
    text-align: center;
    position: relative;
    height: 250px ;
    top: 375px;
}

#mobile > div {
    margin-left: 1em ;
    position: relative;
    display: inline-block;
}

.text {
    padding: 2px ;
    text-align: right;
    font-size: 25px;
    min-height: 300px ;
}
#mobile i {
    position: relative;
    top: 50% ;
    transform : translateY(-50%) ;
    color: #DBDAD7;
    font-size: 7.5em ;
}

#one {
    opacity: 0;
    position: absolute;
    left: 122%;
    top : 15% ;
    background-color: #89CEC6;
    width: 50% ;
    height: 35%;
}

#two {
    opacity: 0;
    position: absolute;
    left: -122% ;
    top: 52.5% ;
    background-color: #F07D87;
    width: 30%;
    height: 29%;
}

#three {
    position: absolute;
    left: 55%;
    top: 52.5%;
    background-color: #78B2D3;
    width: 17%;
    height: 29%;
}

#four {
    opacity: 0;
    position: absolute;
    left: 128%;
    top: 15%;
    background-color: #FFDEA1;
    width: 44%;
    height: 30% ;
}

#five {
    opacity: 0;
    position: absolute;
    left: -128%;
    top : 49% ;
    background-color: #427798 ;
    width: 44%;
    height: 22% ;
}

#six {
    opacity: 0;
    position: absolute;
    background-color: #ED472D;
    width: 50%;
    height: 25% ;
    top: -30% ;
    left: 21%;
}
#seven {
    opacity: 0;
    position: absolute;
    background-color: #D6D3C1;
    width: 23%;
    height: 20%;
    top: 43%;
    left: 121%;
}

#eight{
    opacity: 0;
    position: absolute;
    background-color: #D6D3C1;
    width: 23%;
    height: 20%;
    top: 43%;
    left: -148%;
}

#nine {
    opacity: 0;
    position: absolute;
    background-color: #95C676;
    width: 50%;
    height: 10% ;
    left: 21%;
    top: 166% ;
}

/* ------------------------------------------ WEB ----------------------------- */
#webText {
    z-index: 100 ;
    text-align: center;
    position: absolute;
    top: 70px ;
    height: 270px ;
}
#web {
    text-align: center;
    padding: 10px 4px  ;
    position: absolute;
    height: 250px ;
    top: 675px;
}

#web > div {
    position: relative;
    margin-left: 1em ;
    display: inline-block;
}

#web i {
    opacity: 0;
    color: #DBDAD7;
    font-size: 7em ;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#html:hover {
    color: #F06528 ;
}
#css:hover{
    color: #2BA8E0;
}
#opera:hover{
    color: #B70B0B;
}


/* ----------------------------------------- FOOTER ----------------------------------------- */
#footer {
    position: absolute;
    left: 2.5%;
    margin: auto;
    z-index: 100;
    top: 1460px ;
    background-color: rgba(132, 177, 146 , .3)  ;
}

#logo {
    position: relative;
    width: 329px ;
    left: -1px;
    margin: 0 auto;
    overflow: hidden;

}
#logo img {
    max-width: 100% ;
}

#footer > h1 {
    color: #ffffff;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 50px ;
    font-family: BRoya;
    text-shadow: 0 1px 2px  rgba(132, 177, 146 , 1);
}

#work {
    border-top: 1px solid rgba(132, 177, 146 , .7) ;
    /*background-color:rgba(169, 204, 212 , .7 ) ;*/
    background-color: rgb(242, 241, 237) ;
}