@font-face {
  font-family: "yekan";
  src: url(../fonts/Yekan.eot);
  src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fff; }
    body path#_x31_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 0s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x33_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x34_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x32_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x35_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x36_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_1 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x37_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x38_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.8s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x39_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 3.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_0 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2.5s linear forwards 3.15s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_2 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 4s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body .loading svg#logoAnimation {
      width: 500px;
      height: auto;
      position: absolute;
      margin-left: -250px;
      top: 0;
      left: 50%; }
    body .loading svg#wait {
      width: 250px;
      height: auto;
      position: absolute;
      margin-left: -125px;
      bottom: 100px;
      left: 50%;
      opacity: 1;
      animation: fadeInAnim 2s 0s; }
  @keyframes fadeInAnim {
    from {
      opacity: 0; }
    to {
      opacity: 1; } } }

@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fff; }
    body path#_x31_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 0s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x33_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x34_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x32_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x35_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x36_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_1 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x37_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x38_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.8s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x39_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 3.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_0 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2.5s linear forwards 3.15s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body path#_x31_2 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 4s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body .loading svg#logoAnimation {
      width: 500px;
      height: auto;
      position: absolute;
      margin-left: -250px;
      top: 0;
      left: 50%; }
    body .loading svg#wait {
      width: 250px;
      height: auto;
      position: absolute;
      margin-left: -125px;
      bottom: 100px;
      left: 50%;
      opacity: 1;
      animation: fadeInAnim 2s 0s; }
  @keyframes fadeInAnim {
    from {
      opacity: 0; }
    to {
      opacity: 1; } } }

@media screen and (max-width: 1024px) and (orientation: landscape) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fff; }
    body #logoAnimation path#_x31_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 0s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x33_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x34_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x32_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x35_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x36_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_1 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x37_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x38_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.8s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x39_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 3.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_0 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2.5s linear forwards 3.15s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_2 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s ease-out forwards 4s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body .loading svg#logoAnimation {
      width: 400px;
      height: auto;
      position: absolute;
      margin-left: -200px;
      top: 0;
      left: 50%; }
    body .loading svg#wait {
      width: 150px;
      height: auto;
      position: absolute;
      margin-left: -75px;
      bottom: 200px;
      left: 50%;
      opacity: 1;
      animation: fadeInAnim 2s 0s 1; }
  @keyframes fadeInAnim {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    body .content {
      display: none; } }

@media screen and (min-width: 1025px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fff; }
    body #logoAnimation path#_x31_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards 0s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x33_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x34_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2s linear forwards 0.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x32_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x35_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x36_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.5s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_1 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x37_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.7s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x38_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 2.8s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x39_ {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 3s linear forwards 3.1s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_0 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 2.5s linear forwards 3.15s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body #logoAnimation path#_x31_2 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s ease-out forwards 4s; }
  @keyframes dash {
    to {
      stroke-dashoffset: 0; } }
    body .loading svg#logoAnimation {
      width: 400px;
      height: auto;
      position: absolute;
      margin-left: -200px;
      top: 0;
      left: 50%; }
    body .loading svg#wait {
      width: 150px;
      height: auto;
      position: absolute;
      margin-left: -75px;
      bottom: 200px;
      left: 50%;
      opacity: 1;
      animation: fadeInAnim 2s 0s 1; }
  @keyframes fadeInAnim {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
    body .content {
      display: none; } }
