@font-face{
    font-family: 'Mitra';
    src: local("Mitra"),local("B Mitra"), local("F Mitra") , url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BMitra.woff') format('woff'),
    url('../fonts/BMitra.ttf') format('truetype');
}
body{
    text-align: center;
    direction: rtl;
    font-family: 'Mitra', sans-serif;
    background-color: #72a2df;
    margin: 0px;
}
select{
    margin: 5px;
    text-align: right;
    direction: rtl;
    font-family: 'Mitra', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    right: 0px;
}
div.select{
    width: 100%;
    text-align: right;
}

h1{
    font-family: 'Mitra', sans-serif;
}
div.packages{
    text-align: right;
}
h2{
    font-weight: normal;
    margin-right: 3.5%;
}
div.slide-show{
    width: 100%;
    height: 400px;
    margin-right: -1px;
    margin-left: -1px;
}

p.content{
    margin-right: 3%;
    margin-left: 55%;
}
div.package{
    width: 300px;
    height: 380px;
    background-color: #ffffff;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.3);
    border-radius: 3px;
}
div.package button.select ,input.submit{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background: linear-gradient(#ff5261,#db2416);
    color: #ffffff;
    font-family: 'Mitra', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    position: relative;
    border-style: none;
    border-radius: 3px;
}
div.package button.select:hover{
    background: #db2416;
    cursor: hand;
}
div.package button.select:active{
    background: #8c170e;
}
div.package img{
    width: 280;
}
div.title{
    background: #3f4544;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 1px;
}
div.title h2{
    color: #ffffff;
    margin: 5px;
    margin-right: 20px;
    cursor: hand;
  }
div.detail{
    background: #ffffff;
    border-color: #000000;
    margin: -1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 2%;
}
tr{
    width: 100%;
}
td{
    width: 21%;
}
hr{
    background: transparent;
    border-bottom-style: none;
}
div.title h4{
    color: #ffffff;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}
div#div-price{
    text-align: left;
    margin-top: 1%;
    margin-left: 6%;
    font-size: 26px;
}
div.form{
    width: 40%;
    min-width: 213px;
}
textarea, input.text{
    font-family: 'Mitra', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 3px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #a96765;
    width: 100%;
}

div.footer{
    background: gray;
    height: 200px;
    width: 100%;
}