@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face{
    font-family: 'Roya';
    src: url('../fonts/BRoya.woff') format('woff'),
    url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BRoya.ttf') format('truetype');
}
@font-face{
    font-family: 'Mitra';
    src: url('../fonts/BMitra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BMitra.woff') format('woff'),
    url('../fonts/BMitra.ttf') format('truetype');
}
@font-face{
    font-family: 'Davat';
    src: url('../fonts/BDavat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BDavat.woff') format('woff'),
    url('../fonts/BDavat.ttf') format('truetype');
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -280px;
    margin-left: -280px;

    overflow-y: hidden;
    overflow-x: hidden;

    font-family: 'Mitra', sans-serif;
    padding: 0px;
}

div#right{
    background-color: black;
    width: 300px;
    height: 100%;
    float: right;
    background: -webkit-linear-gradient(to right, #adadad , #aaaaaa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, #adadad , #aaaaaa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, #adadad , #aaaaaa); /* For Firefox 3.6 to 15 */
}
div#left{
    width: 300px;
    height: 100%;
    float: left;
}
div#center{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #163368;
    color:  white;
    font-family: 'Mitra', sans-serif;
}
div.shadow{
    height: 100%;
    width: 10%;
    margin: 0px;
}#shadow_right{
     float: left;
     background: linear-gradient(to right, #000000, #232323); /* Standard syntax */
 }
#shadow_left{
    float: right;
    background: linear-gradient(to left, #000000, #232323); /* Standard syntax */
}
div.container{
    height: 100%;
    width: 90%;
    margin: 0px;
    background-color: #232323;
    text-align: right;
    direction: rtl;
}#container_right{
     float: right;
 }
#container_left{
    float: left;
}
div.title{
    text-align: center;
    width: 15%;
    height: 90%;
    margin: auto;
}
h1{
    font-size: 100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 1%;
    font-weight: 500;
}
h1:hover{
    -webkit-transform: scale(1.01);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
}
h2{
    font-size: 18px;
    font-weight: lighter;
}
h3{
    font-size: 18px;
    font-weight: lighter;
}
img{
    width: 100%;
    margin-top: -2%;
}
div.footer{
    height: 10%;
    text-align: center;
    width: 100%;
    font-family: serif;
}

h4{
    font-family: 'Mitra', sans-serif;
    color: white;
    font-size: 26px;
    margin: 25px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
    margin-right: 30px;
}
hr{
    box-shadow: 0 0 10px 1px white;
    margin-bottom: 25px;
}
li{
    color: white;
    margin-top: 10px;
    margin-right: 35px;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: hand;
}
li:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 1.0);
}

button.open_drawer{
    background-color: #000000;
    color: white;
    border-style: none;
    font-family: 'Mitra', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
    padding: 5px;
    min-width: 90px;

}#btn_right{
     float: right;
 }
#btn_left{
    float: left;
}

