@media screen and (max-width: 767px){
  .button {
    cursor: pointer;
    box-sizing: border-box;
    min-width: 200px;
    width: auto;
    height:70px;
    line-height: 70px;
    text-align: center;
    font-family: "iransans";
    @include button($white, white);
    @include button($blue, blue);
    @include button($orange, orange);
    @include button($gray, gray);
    border-width: 5px !important;
    &.small {
      min-width: 80px;
      width: 80px;
    }
    &:focus{
      outline:none;
    }
    i {
      &:focus{
        outline: none;
      }
    }
  }
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
  width: auto;
  height:35px;
  line-height: 35px;
  text-align: center;
  font-family: "iransans";
  @include button($white, white);
  @include button($blue, blue);
  @include button($orange, orange);
  @include button($gray, gray);
  &.small {
    min-width: 40px;
    width: 40px;
  }
  &:focus{
    outline:none;
  }
  i {
    &:focus{
      outline: none;
    }
  }
}


