.button {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
  width: auto;
  height:35px;
  line-height: 35px;
  text-align: center;
  @include button($white, white);
  @include button($blue, blue);
  @include button($orange, orange);
  @include button($gray, gray);
  &.small {
    min-width: 40px;
    width: 40px;
  }
  &:focus{
    outline:none;
  }
  i {
    //line-height: 35px !important;
    &:focus{
      outline: none;
    }
  }
}