.button {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
  width: auto;
  height:35px;
  line-height: 35px;
  padding: 10px;
  text-align: center;
  @include button($white, white);
  @include button($blue, blue);
  @include button($orange, orange);
  @include button($gray, gray);
}